<h5>Consulta de Contas</h5>
<hr />

<div class="row">
    <div class="col-md-12">
        <div id="grafico"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="mensagem" style="display: none;" class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" id="alert-close" aria-label="Close"></button>
            <h4 class="alert-heading">Nova conta cadastrada com sucesso!</h4>
            <hr />
            <div>Nome: <strong id="nome"></strong></div>
            <div>Valor: <strong id="valor"></strong></div>
            <div>Categoria: <strong id="categoria"></strong></div>
        </div>
    </div>
</div>

@**Conteúdo para a seção 'scripts'*@
@section scripts {

    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/signalr.min.js"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <script>

        //conectando no HUB..
        const connection = new signalR
            .HubConnectionBuilder()
            .withUrl("/contashub")
            .build();

        //iniciando a conexão
        connection.start()
            .catch(
                e => console.log(e)
            );

        //escutando as mensagens do hub
        connection.on('ReceiveMessage', (data) => {

            //imprimindo os dados
            $("#nome").html(data.model.nome);
            $("#valor").html(data.model.valor);
            $("#categoria").html(data.model.categoria == 1 ? "Débito" : "Crédito");

            $("#mensagem").show();

            var array = [];

            for (var i = 0; i < data.result.length; i++) {
                array.push([
                    data.result[i].categoria, data.result[i].total
                ]);
            }

            new Highcharts.Chart({
                chart: {
                    type: 'pie',
                    renderTo: 'grafico'
                },
                title: {
                    text: 'Total de Contas por Categoria'
                },
                subtitle: {
                    text: 'Somatório das contas por categoria'
                },
                plotOptions: {
                    pie: {
                        innerSize: '60%'
                    }
                },
                exporting: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                series: [{
                    data: array
                }]
            })
        });

        $(document).ready(function () {
            $("#alert-close").click(function () {
                $("#mensagem").hide();
            });
        });

    </script>
}